---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/base-layout.astro";
import Hero from "@/components/hero.astro";
import Sparator from "@/components/sparator.astro";
import Section from "@/components/section.astro";
import ExperienceCard from "@/components/experience-card.tsx";

const experience = await getCollection("experiences");
const certificate = await getCollection("certificates");
const social = await getCollection("socials");
const contact = await getCollection("contacts");
const education = await getCollection("educations");

import {
  ArrowUpRight,
  Terminal,
  MapPin,
  Mail,
  Linkedin,
  Github,
  GraduationCap,
} from "lucide-react";

const icons = {
  ArrowUpRight,
  Terminal,
  MapPin,
  Mail,
  Linkedin,
  Github,
  GraduationCap,
};

const stack = [
  "php",
  "kotlin",
  "javascript",
  "typescript",
  "laravel",
  "react",
  "astro",
  "nestjs",
  "expo",
  "postgresql",
  "redis",
];
---

<BaseLayout title="Portfolio">
  <Hero />
  <Sparator />
  <Section class="p-3">
    {
      contact.map(({ data }) => {
        const Icon = icons[data.icon as keyof typeof icons];
        return (
          <div class="flex items-center gap-3">
            <div class="p-1.5">
              <Icon size={16} />
            </div>
            <p class="text-muted-foreground">{data.body}</p>
          </div>
        );
      })
    }
  </Section>
  <Sparator />
  <Section class="p-3">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      {
        social.map(({ data }) => {
          const Icon = icons[data.icon as keyof typeof icons];
          return (
            <a
              href={data.link}
              class="group flex items-start justify-between gap-3 p-3 border"
            >
              <div class="flex items-center gap-4">
                <Icon size={32} className="text-muted-foreground" />
                <div class="grid grid-cols-1">
                  <p class="font-semibold group-hover:underline">
                    {data.title}
                  </p>
                  <p class="text-sm text-muted-foreground">{data.username}</p>
                </div>
              </div>
              <ArrowUpRight size={16} />
            </a>
          );
        })
      }
    </div>
  </Section>
  <Sparator />
  <Section title="About" class="p-3">
    <p class="">
      Hi, my name Hilmy Ahmad Haidar, you can call me Haidar. I love turning
      ideas into functional apps, working across both front-end and back-end to
      create intuitive and engaging experiences.
    </p>
    <p class="">
      I specialize in smooth user interfaces with React/React Native and
      scalable back-end systems using Laravel, and NestJS, including building
      Microservices, RESTful APIs and integrating third-party services.
    </p>
    <p class="">
      Collaboration and continuous learning drive me. I enjoy working in teams
      with Git and tackling challenges that push my skills. Let’s connect and
      build something amazing together!
    </p>
  </Section>
  <Sparator />
  <Section class="p-3">
    <div class="p-2 flex flex-wrap gap-5">
      {
        stack.map((item) => (
          <div class="w-10 h-10">
            <img
              src={`https://cdn.simpleicons.org/${item}`}
              class="w-full"
              alt=""
            />
          </div>
        ))
      }
    </div>
  </Section>
  <Sparator />
  <Section title="Educations" class="p-3">
    {
      education.map(({ data }) => {
        const Icon = icons[data.icon as keyof typeof icons];
        return (
          <div class="flex items-center justify-between gap-3">
            <div class="p-1.5 flex items-start gap-3">
              <Icon size={42} className="text-yellow-500" />
              <div class="grid grid-cols-1">
                <h3 class="text-lg lg:text-xl">{data.title}</h3>
                <p class="text-sm text-muted-foreground">{data.grade}</p>
                <p class="mt-3 text-sm font-semibold">GPA {data.gpa} / 4.00</p>
              </div>
            </div>
            <p class="font-bold hidden md:block">
              {data.start} - {data.end}
            </p>
          </div>
        );
      })
    }
  </Section>
  <Sparator />
  <Section title="Experience" id="experience" class="p-3">
    <ExperienceCard experiences={experience} client:load />
  </Section>
  <Sparator />
  <Section title="Certificates" class="p-3">
    {
      certificate.map(({ data }) => (
        <a class="group" href={data.link}>
          <div class="flex items-center gap-3">
            <div class="flex items-start gap-3">
              <div class="max-w-12 max-h-12 rounded-full overflow-hidden">
                <img src={data.logo} alt="company logo" />
              </div>
              <div class="grid grid-cols-1">
                <h3 class="lg:text-lg group-hover:underline">{data.title}</h3>
                <p class="text-sm text-muted-foreground">{data.company}</p>
                <p class="mt-3 text-sm font-semibold">Issued {data.date}</p>
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </Section>
  <Sparator />
</BaseLayout>
